<!--Footer-->
<footer class="page-footer center-on-small-only">

	<!--Footer Links-->
	<div class="container-fluid">
		<div class="row">

			<!--First column-->
			<div class="col-sm-4 offset-sm-4 col-md-3 offset-md-1">
				<h5 class="title">欢迎骚扰</h5>
				<dl class="row">

					<dt class="col-sm-2 text-sm-center"><i class="fa fa-envelope" aria-hidden="true"></i></dt>
					<dd class="col-sm-10">51071534@qq.com</dd>

					<dt class="col-sm-2 text-sm-center"><i class="fa fa-map-marker" aria-hidden="true"></i></dt>
					<dd class="col-sm-10">Hangzhou, Zhejiang</dd>

				</dl>
			</div>
			<!--/.First column-->

			<hr class="hidden-md-up">

			<!--Second column-->
			{#                <div class="col-md-2 offset-md-1">#}
			{#                    <h5 class="title">Links</h5>#}
			{#                    <ul>#}
			{#                        <li><a href="#!">Link 1</a></li>#}
			{#                        <li><a href="#!">Link 2</a></li>#}
			{#                        <li><a href="#!">Link 3</a></li>#}
			{#                        <li><a href="#!">Link 4</a></li>#}
			{#                    </ul>#}
			{#                </div>#}
			<!--/.Second column-->

			{#            <hr class="hidden-md-up">#}

			<!--Third column-->
			{#                <div class="col-md-2">#}
			{#                    <h5 class="title">Links</h5>#}
			{#                    <ul>#}
			{#                        <li><a href="#!">Link 1</a></li>#}
			{#                        <li><a href="#!">Link 2</a></li>#}
			{#                        <li><a href="#!">Link 3</a></li>#}
			{#                        <li><a href="#!">Link 4</a></li>#}
			{#                    </ul>#}
			{#                </div>#}
			<!--/.Third column-->

			{#            <hr class="hidden-md-up">#}

			<!--Fourth column-->
			{#                <div class="col-md-2">#}
			{#                    <h5 class="title">Links</h5>#}
			{#                    <ul>#}
			{#                        <li><a href="#!">Link 1</a></li>#}
			{#                        <li><a href="#!">Link 2</a></li>#}
			{#                        <li><a href="#!">Link 3</a></li>#}
			{#                        <li><a href="#!">Link 4</a></li>#}
			{#                    </ul>#}
			{#                </div>#}
			<!--/.Fourth column-->

		</div>
	</div>
	<!--/.Footer Links-->

	{#	<hr>#}

	<!--Call to action-->
	{#        <div class="call-to-action">#}
	{#            <ul>#}
	{#                <li>#}
	{#                    <h5>Register for free</h5></li>#}
	{#                <li><a href="" class="btn btn-danger">Sign up!</a></li>#}
	{#            </ul>#}
	{#        </div>#}
	<!--/.Call to action-->

	{#	<hr>#}

	<!--Social buttons-->
	{#        <div class="social-section">#}
	{#            <ul>#}
	{#                <li><a href="https://www.facebook.com/mdbootstrap" target="_blank"#}
	{#                       class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>#}
	{#                <li><a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i#}
	{#                        class="fa fa-twitter"> </i></a></li>#}
	{#                <li><a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank"#}
	{#                       class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>#}
	{#                <li><a href="https://pl.linkedin.com/in/dawid-adach-97435534/pl" target="_blank"#}
	{#                       class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>#}
	{#                <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>#}
	{#                <li><a href="https://pl.pinterest.com/materialdesignf/" target="_blank"#}
	{#                       class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>#}
	{#                <li><a href="https://www.instagram.com/material_design_for_bootstrap/" target="_blank"#}
	{#                       class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>#}
	{#            </ul>#}
	{#        </div>#}
	<!--/.Social buttons-->

	<!--Copyright-->
	<div class="footer-copyright">
		<div class="container-fluid">
			© 2017 Copyright: <a href="/"> Dr.ReMain </a>
		</div>
	</div>
	<!--/.Copyright-->

</footer>
<!--/.Footer-->